*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.8rem;
  box-sizing: border-box;
}

.container {
  width: 50rem;
  background-color: #4b0082;
  margin: 10rem auto;
  padding: 2rem;
  border-radius: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ebebeb;
}

.input-form__container {
  display: flex;
  border: 2px solid #9500ff;
  margin-bottom: 4.8rem;
  /* padding: 1rem 2rem; */
}

.input-form__container input {
  outline: none;
  border: none;
  color: #ddd;
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  flex-grow: 1;
  background-color: #4b0082;
}

.input-form__container input::placeholder {
  color: #88888891;
}

.input-form__container button {
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  /* text-transform: uppercase; */
  color: #ddd;
  background-color: #9602ff;
}

.task__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.task__list--item {
  background-color: #9602ff;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.task__list--item span {
  cursor: pointer;
  font-size: 2rem;
  margin-right: auto;
}

.button {
  cursor: pointer;
  border: none;
  padding: 0.8rem 1rem;
  font-size: 1.6rem;
  background-color: #4b0082;
  color: #fff;
  transition: all 0.2s;
  border-radius: 0.8rem;
}

.button:hover {
  transform: scale(1.05);
}

.completed {
  color: #ccc;
  text-decoration: line-through;
}
